.DS_Store
.vscode/settings.json
node_modules/
**/__pycache__/
palettes/
extract/
reference/*.stats
examples/*.js
examples/perf.*
dist/src/
dist/examples/
static/rollup-profile.html
scripts/apxsrc.map
