#screen {
    width: 320px;
    height: 192px;
/*    background-color: blue; */
    transform-origin: top center;
    transform:  scale(4);
    margin: 0 auto;
}
.section {
    width: 100%;
    overflow: hidden;
}
.rule {
    height: 2px;
}
#date-window {
    height:  16px;
}
#date-window .row {
    transform-origin: top left;
    transform:  scale(2);
}
#map-window {
    height: 144px;
    overflow: scroll;
}
#info-window {
    height:  16px;
}
#err-window {
    height: 8px;
}
#map {
    /* 48 x 41  8px sq cells*/
    width: 384px;
    height: 328px;
    position: relative;
    transform-origin: top left;
    transform: scale(1);
}
#unit-overlay, #kreuze-overlay {
    position: absolute;
    bottom: 8px;
    right: 8px;
}
#unit-overlay {z-index: 2}  /* create stacking context for masks */
#kreuze-overlay {z-index: 1}

@keyframes pulse {
  0% {-webkit-transform: scale(1.0); }
  100% {-webkit-transform: scale(1.2); }
}
@keyframes blink {
  0% {opacity: 1.0;}
  100% {opacity: 0.0;}
}
.pulse {
  /* Giving Animation Function */
    animation: pulse 1s ease-out infinite;
}
.blink {
    animation: blink 0.6s ease-in infinite;
}
.row {
    white-space: nowrap;
    background-color: #333;
}
.row-abs {
    position: absolute;
}
.chr {
    display: inline-block;
    width: 8px;
    height: 8px;
    -webkit-mask-image: url(/static/fontmap.png);
    -webkit-mask-size: 128px 136px;
    image-rendering: pixelated;
    color: #999; /* debugging */
    background-color:  white;
}
