:root {
  --fontmap: url(fontmap-apx.png);
}
#screen {
    width: 320px;
    height: 192px;
/*    background-color: blue; */
    transform-origin: top center;
    transform:  scale(4);
    margin: 0 auto;
}
.section {
    width: 100%;
    overflow: hidden;
}
.rule {
    height: 2px;
}
#date-window, #map-window, #info-window, #err-window {
    position: relative;
}
#date-window {
    height:  16px;
}
.container {
    transform-origin: top left;
    width: 100%;
    height: 100%;
}
.doubled {
    transform: scale(2);
}
.doublewide {
    width: 50%;
    transform-origin: top left;
    transform: scale(2, 1);
}
#map-window {
    height: 144px;
    overflow: scroll;
}
#help-window {
    position:  absolute;
    top: 0px;
    z-index: 99;
}
#info-window {
    height:  16px;
}
#err-window {
    height: 8px;
}
#map-scroller {
    /* 48 x 41  8px sq cells*/
    width: 384px;
    height: 328px;
    overflow: hidden;
    position: relative;
}
.map-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}
#map .chr {
    pointer-events: auto;
}
.chr div {  /* reduce hit testing load by only checking parent .chr */
    pointer-events: none;
}
#labels {
    z-index: 1;
}
#units {
    z-index: 2;
}
#orders {
    z-index: 3;
}
/* dimming layer is z-index 4 */
#arrows {
    /* layer to animate arrows, kreuze */
    z-index: 5;
}
.label {
    position: absolute;
    font-family: verdana;
    font-size: 2pt;
    display: flex;
    justify-content: center;
    width: 0;
    white-space: nowrap;
}
@keyframes flash {
  0% {-webkit-mask-image: none; }
  100% {-webkit-mask-image: var(--fontmap); }
}
@keyframes blink {
  0% {opacity: 1.0;}
  50% {opacity: 1.0;}
  75% {opacity:  0.0;}
  100% {opacity: 0.0;}
}
.flash {
    animation: flash 0.25s infinite;
}
.blink {
    animation: blink 1.0s ease-in infinite;
}
.chr, .chr-bg, .chr-fg, .chr-dim {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0px;
}
.chr-fg {
    -webkit-mask-image: var(--fontmap);
    -webkit-mask-size: 128px 136px;
    image-rendering: pixelated;
    color: #999; /* debugging */
}
.chr-dim {
    background-color: rgba(0,0,0);
    opacity: 0;
    pointer-events: none;
    z-index: 4;
}
.chr-overlay {
    position:  absolute;
    bottom: 0;
    right: 0;
    width: 6px;
    height: 6px;
    padding: 0.5px;
}
.chr-mstrng {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5%;
    width: 90%;
    height: 1px;
    background-color: rgb(50,205,50, 0.4);
    border-radius: 1px;
    overflow: hidden;
}
.chr-cstrng {
    background-color: rgb(50,205,50, 0.8);
    height: 100%;
}
.unit-path {
    opacity: 0.5;
}
.unit-path path {
    fill: none;
    stroke-linecap: round;
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
}
.unit-path circle {
    stroke: none;
}
.debug {
    visibility: hidden;
}
